.one-item {
  height: 250px;
  display: inline-block;
  /* width: calc(100%/3); */
  width: 100%;
}

.one-item img {
  height: calc(100% - 45px);
  margin: 0;
}

.one-item  .one-item-name {
  width: 100%;
  background-color: lightslategrey;
  text-align: center;
  padding: 5px;
  color: white;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}